/* Aeonik Medium */
@font-face {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Aeonik-Medium.otf") format("opentype");
}

/* Aeonik Bold */
@font-face {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 700;
  src: url("https://tomas-purplefire.github.io/fonts/Aeonik-Bold.otf")
    format("opentype");
}

/* BuzzBlack Trial */
@font-face {
  font-family: "BuzzBlack Trial";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BuzzBlackTrial.otf") format("opentype");
}

body {
  font-family: "BuzzBlack Trial";
}
